@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.about-container {
    background-color: #FEFEFEff;
}

.about {
	display: flex;
	flex-direction: column;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
	align-items: center;
    color: #0E173E;
    background-color: #FEFEFEff;
}

.about p, .about h2, .about h3, .about h4, .about ul, .about li, .about a, .about blockquote {
    color: #0E173E;
}

main p a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

main p a {
    background:
        linear-gradient(to right,
            rgba(229, 229, 229, 1),
            rgba(229, 229, 229, 1)),
        linear-gradient(to right,
            #4690EAff,
            #4690EAff);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

main p a:hover {
    background-size: 0 3px, 100% 3px;
}
