footer {
    background-color: #3C4E9Dff;
}

.logo {
    font-family: 'Jockey One', sans-serif;
    font-size: 35px;
}

.footer-links a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    background:
        linear-gradient(to right,
            rgba(36, 47, 64, 0),
            rgba(36, 47, 64, 0)),
        linear-gradient(to right,
            #ffffff,
            #ffffff);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.footer-links a:hover {
    background-size: 0 3px, 100% 3px;
}
