@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.faq-container {
	width: 100%;
	display: flex;
	flex-direction: column;
    margin: 0 auto;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
}

.faq {
    font-size: 50px;
    font-family: 'Jockey One', sans-serif;
}

.faq-link {
	font-weight: normal;
}

.example-img-container {
    position: relative;
    width: 100%;
	transition: transform .5s;
}

.example-img-container:hover {
	transform: scale(1.02);
}

.getting-started {
	font-family: 'Jockey One', sans-serif;
}

#faq-section {
    background-color: #242f40;
    color: #ffffff;
}

code {
	color: #fa98c1
}