@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

h1 {
    color: #FFFFFF;
}

h2 {
    font-family: 'Jockey One', sans-serif;
    font-size: 60px;
}

h3 {
    font-family: 'Jockey One', sans-serif;
    font-size: 50px;
    text-align: left;
}

h4 {
    font-family: 'Jockey One', sans-serif;
    font-size: 35px;
    text-align: left;
}

p {
    text-align: left;
}

ul {
    text-align: left;

}

.image-container {
    position: relative;
}

.overlay-text-and-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-100%, -30%);
}

.overlay-text {
    font-family: 'Jockey One', sans-serif;
    font-size: 60px;
    text-align: left
}

.overlay-button {
    background-color: #cca43b;
    font-family: 'Jockey One', sans-serif;
    font-size: 28px;
    color: #242f40;
    border: none;
    padding: 10px 20px;
    text-align: center;
    width: 50%;
    display: block;
    margin-left: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.overlay-button:hover {
    background-color: #e5e5e5;
    color: #242f40;
}

.example-img-container {
    position: relative;
    width: 70%;
}

.layer-parent {
    position: relative;
}

.layer-bun {
    position: absolute;
    top: 26%;
    left: 45%;
}

.layer-vegetables {
    position: absolute;
    top: 40%;
    left: 30%;
}

.layer-meat {
    position: absolute;
    top: 54%;
    left: 29%;
}

.layer-bag {
    position: absolute;
    top: 14%;
    left: 50%;
}

.circular-btn {
    width: 50px;
    height: 50px;
    background: #e5e5e5;
    color: #242f40;
    font-size: 16px;
    font-weight: 700;
    border-color: #242f40;
    transition: 0.5s ease;
    border-width: 4px;
    transition: transform 0.5s ease;
    transform-origin: center;
    width: fit-content;
    height: fit-content;
}

.circular-btn:hover {
    background-color: #242f40;
    border-color: #242f40;
    cursor: pointer;
    border-width: 4px;
    transform: scale(1.1);
}

.circular-btn:active {
    background-color: #242f40 !important;
    border-color: #242f40 !important;
}

.img-caption {
    font-family: 'Jockey One', sans-serif;
    font-size: 20px;
}